# macOS 文件系统
.DS_Store
.AppleDouble
.LSOverride

# Xcode
xcuserdata/
DerivedData/
*.xccheckout
*.xcscmblueprint

# Visual Studio Code
.vscode/

# Node.js
node_modules/

# Python
__pycache__/
*.py[cod]
*.pyo

# Java
*.class
*.jar

# C/C++
*.o
*.obj
*.exe
*.dll
*.so

# Ruby
*.gem
*.rbc
.rvmrc

# 编辑器备份文件
*~
*.swp

# 日志文件
*.log

# 依赖文件
Pods/
Carthage/

# 环境变量和配置文件
.env
*.conf

# 临时文件
tmp/
temp/

# 其他常见忽略文件
*.bak
*.tmp
