# requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
matplotlib>=3.3
numpy>=1.22.2
torch>=2.0.1
# torchvision
pyyaml
